<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    
    <application
        android:allowBackup="true"
        android:label="REDZON"
        android:theme="@style/Theme.REDZON"
        android:supportsRtl="true">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.REDZON">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.REDZON" />

        <service
            android:name=".MonitoringService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
            
    </application>
</manifest>
